
body{
  color: white;
  background-color: #333;;
}
/* Centering the entire form on the page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form {
  background: #333;;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: white;
  font-size: 2.5rem;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
  
  
}
.input-group input{
  color: white;
  background-color: #1e293b;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color:white;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
}

.login-btn {
  width: 100%;
  padding: 12px;
  background-color:white;
  color: black;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-btn:hover {
  font-size: 18px;
}

.login-footer {
  margin-top: 20px;
  font-size: 0.9rem;
}

.login-footer p {
  margin: 10px 0;
  color:white;
}

.login-footer a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.login-footer a:hover {
  text-decoration: underline;
}