/* Background */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Center container */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.auth-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  color: white;
}

/* Title */
.title {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 25px;
  font-size: 14px;
  opacity: 0.8;
}

/* Inputs */
.input-group {
  margin-bottom: 18px;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: white;
  font-size: 14px;
}

.input-group input::placeholder {
  color: rgba(255,255,255,0.6);
}

.email-row {
  display: flex;
  gap: 10px;
}

.email-row input {
  flex: 1;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.primary-btn {
  width: 100%;
  padding: 12px;
  background: #fff;
  color: #333;
  margin-top: 10px;
  transition: 0.3s;
}

.primary-btn:hover {
  transform: translateY(-2px);
}

.otp-btn {
  padding: 10px 14px;
  background: #00c6ff;
  color:black;
}

.otp-btn:hover {
  background: #0096c7;
}

.otp-section {
  margin-bottom: 15px;
}

.otp-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.timer {
  font-size: 13px;
}

.resend-btn {
  padding: 10px 14px;
  background: #00c6ff;
  color:black;
}

.resend-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.error-msg {
  color: #ff6b6b;
  font-size: 13px;
}

.success-msg {
  color: #00ffae;
  font-size: 13px;
}

.footer-text {
  margin-top: 15px;
  font-size: 14px;
}

.footer-text a {
  color: #ffd369;
  text-decoration: none;
}