
.invitation{
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
button{
    background-color:white;
    color: black;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;

}

h3{
    margin-top: 0;
}