body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #0b0f1a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}
.dashboard {
  display: flex;
  height: calc(100vh - 60px); /* minus navbar height */
}

.nav-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-btn {
  background: transparent;
  border: 1px solid #334155;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profile-img{
 width: 55px;
  height: 60px;
  cursor: pointer;
  border-radius: 50%;
}
.profile {
  padding: 8px 12px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  color: white;
}

/* DASHBOARD */
.dashboard {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 100%-60px;
  overflow: hidden;
}

.profile-popup {
  position: absolute;
  top: 75px;
  right: 0;
  height: 140px;

  width: 220px;
  background: #0b1c2d;
  border: 1px solid #1f2f46;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  animation: fadeIn 0.2s ease-in-out;
  z-index: 1000;

}

.profile-popup p {
  margin: 5px 0;
  font-size: 14px;
}

.email {
  color: #9ca3af;
  margin-bottom: 40px;
  padding-bottom: 10px;

}

.fullname {
  font-weight: 600;
    padding-left: 65px;
    

}

.logout-btn {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #ef4444;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #dc2626;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* FILTERS */
.filters {
  width: 250px;
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  position:sticky;
}
.filter{
  display:flex;
  justify-content: space-between;
}
.filter-icon{
  width: 30px;
  height: 30px;
  margin-top: 20px;
}
.filter-section {
  margin-top: 15px;

}

.filter-section label {
  display: block;
  margin: 5px 0;
  font-size: 14px;

}

/* PROJECT LIST */
.project-list {
  flex: 1;
      overflow-y: auto;

}

.search {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: #020617;
  border: 1px solid #1e293b;
  color: #fff;
  border-radius: 8px;
}
.project-search{
  display:flex;
}
  .project-search-filter-icon{
    width: 30px;
  height: 36px;
  }

/* PROJECT CARD */
.project-card {
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid #1e293b;

}

.project-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.badge {
  font-size: 12px;
  color:white;
  display: flex;
align-items: center;
}

.description {
  font-size: 14px;
  color: #cbd5f5;
}

.tags {
  margin-top: 10px;
}

.tag {
  background: #1e293b;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 8px;
}



/* MODAL OVERLAY */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* MODAL */
.modal {
  width: 400px;
  background: #0f172a;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1e293b;
}

/* HEADER */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  cursor: pointer;
  font-size: 20px;
}

/* FORM */
.modal input,
.modal textarea,
.modal select {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #020617;
  border: 1px solid #1e293b;
  color: white;
  border-radius: 8px;
}

.modal textarea {
  resize: none;
  height: 80px;
}

/* TAGS */
.selected-tags {
  margin-top: 10px;
}

.tag {
  background: #1e293b;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 8px;
}

/* BUTTON */
.create-btn {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
